# Główne zależności do działania projektu i aplikacji Streamlit

# --- Streamlit app ---
streamlit
pandas
requests
Pillow
autogluon.multimodal

# --- Data engineering / data science ---
scikit-learn
matplotlib
seaborn

# --- Pipeline i zarządzanie projektem ---
kedro

# --- DVC do pobierania modeli z Google Drive ---
dvc[gdrive]
