ipython>=8.10
jupyterlab>=3.0
kedro-datasets>=3.0
kedro-viz>=6.7.0
kedro[jupyter]~=0.19.12
notebook
scikit-learn~=1.5.1
setuptools; python_version >= "3.12"
streamlit==1.44.1
pillow==11.2.1
transformers==4.51.3
torch==2.7.0
requests==2.32.3